<ion-header>
  <ion-toolbar>
    <ion-button menuToggle size="small" color="medium" fill="clear" (click)="closeModal()">
      <ion-icon slot="start" name="close-outline"></ion-icon>
    </ion-button>
    <ion-subtitle>Aguardando aprovação</ion-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>{{startDate}}</ion-list-header>
    <ion-item (click)="presentActionSheet()"> 
      <h4>{{name}}</h4>
      <ion-note slot="end">
        <strong> {{startTime}} </strong>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>