<ion-content>
  <ion-grid fixed>
    <ion-row align-items-center justify-content-center>
      <ion-col col-20 col-sm-20 col-md-20>
        <div style="height:250px">
          <ion-slides item-height="10px">
            <ion-slide>
              <img src="https://cdn4.iconfinder.com/data/icons/VistaICO_Toolbar-Icons/256/Login.png">
            </ion-slide>
            <ion-slide>
              <img src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/x-office-calendar-256.png">
            </ion-slide>
            <ion-slide>
              <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/clock-256.png">
            </ion-slide>
          </ion-slides>
        </div> 
        <ion-list no-lines>
          <ion-item>
            <ion-label>E-mail</ion-label>
            <ion-input type="email" clear-input="true" [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Senha</ion-label>
            <ion-input type="password" clear-input="true" [(ngModel)]="senha"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="block" shape="round" (click)="submit()">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer translucent>
  <ion-toolbar text-center>
    <ion-button button-type="String" expand="block" fill="clear" size="small" color="dark" (click)="register()">
      <small><strong>Cadastre-se</strong></small></ion-button>
      <ion-button size="small" color="light" slot="end">
        <ion-icon name="logo-facebook"></ion-icon>    
      </ion-button>
      <ion-button size="small" color="light" slot="end">
        <ion-icon name="logo-google"></ion-icon>    
      </ion-button>
  </ion-toolbar>
</ion-footer>