<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Agendar Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime stacked displayFormat="DD/MM/YYYY" min="2020"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Hora</ion-label>
    <ion-datetime stacked displayFormat="HH:mm" minuteValues="0,15,30,45," hourValues="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,00"></ion-datetime>
  </ion-item>
  <ion-button color="light" expand="block" shape="round" (click)="showServices()">Adicionar Serviços</ion-button>
</ion-content>

<ion-footer>
  <ion-button color="success" expand="block" shape="round" (click)="confirm()">Confirmar</ion-button> 
</ion-footer>